<h1><%= @place["name"] %></h1>


<% for entry in @entries%>
  <h2><%= entry["title"]%></h2>
  <%= entry["occurred_on"]%>
  <h3><%= entry["description"]%></h3>
<% end %>


<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>